/* row */

.big-box {
    display: flex;
    background-color: blanchedalmond;
    text-align: center;    
}

.box1 {
    background-color: blueviolet;
    width: 25%;
    height: 300px;
}

.box2 {
    background-color: red;
    width: 25%;
    height: 300px;
}
.box3 {
    background-color: green;
    width: 25%;
    height: 300px;
}

.box4 {
    background-color: grey;
    width: 25%;
    height: 300px;
}

/* new row */

.big-table {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    height: 300px;
    margin-top: 20px;
}


.table1 {
    background-color: pink;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.table2 {
    background-color: indigo;

}
.table3 {
    background-color: orange;
}
.table4 {
    background-color: peachpuff;

}